/*@import url('https://fonts.googleapis.com/css?family=Pacifico');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*window_layer{*/
	/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*}*/
h5{
	font-family: 'Open Sans', sans-serif;
}
p{
	font-family: 'Montserrat', sans-serif;
}
h1{
	font-family: 'Merienda One', cursive;
}
nav{
	background-image: url("../img/navbar_old.jpg")!important;
	font-weight: bold;
}
nav a.iconoss{
	padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}
nav a{
    cursor: pointer!important;
}
.carousel-indicators > li {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #404040;
	}
.cartellEspai{
	margin-top:20px;
}
.carousel-indicators > li {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #404040;
}
a.noLink:link, a.noLink:visited,a.noLink:hover,a.noLink:active{
	color: black; 
	background-color: transparent; 
	text-decoration: none;
}
.borderRound{
	border-radius: 30px;
}
.txtWeb{
	font-weight: bold;
}
.mostraDiv{
	display:none; 
	width: 100%;
	position: fixed;
	margin:0;
	top:0%; 
	bottom:0%;
	z-index: 10; 
	background-color: #00BFFF;
	/*opacity: 0.5;*/
	/*background-color:  #f0cbd8;*/
	/*background-color:#FDF4E3;*/
	/**/
	/*font-family: 'Open Sans', sans-serif;*/
}
/*.mostrarDiv2
{
	z-index: 11; 
	width: 60%!important;
	margin-left: 10%!important;
	background-color: yellow!important; 
	opacity: 1!important;*/
}
.imgSize{
	padding: 10px;
	position: relative;
	width: 100%;
	float: left;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.txtTitles {
	text-align: center;
	font-size: 30px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.firstcharacter {
	float: left;
	font-family: Georgia;
	font-size: 80px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}
.txtBorders{
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
}
.txtBorders2{
	padding-left: 10px;
	padding-right: 10px;
}
.row1{
	padding-top: 10px;
}
.separation{
	padding: 10px;
}

#firstPicture{
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}
#titleColor{
	background-color: #7FFFD4;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;   
}

#festivitats{
	background-color: #E7F3E3;
	border-radius: 10px;
/*	background-color: #ECEBEB;*/
}

#llegenda{
	background-color: #E7F3E3;
	border-radius: 10px;
}


#gifStjordi{
	border-radius: 5px;
}

.imgfestivitats{
	border-radius: 10px;
}

.borderFooter{
	border-top: 2px solid #E2E2E2;
}

#nosaltres {
	background-color: #E7F3E3;
	border-radius: 10px;
}

.web_persona_arriba {
	align-items: center;
	text-align: center;
	margin-bottom: 70px;
	margin-top: 30px;
}

.web_persona_abajo {
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
}


@media (max-width: 575px){
	nav{
	background-repeat: no-repeat!important;
	}
	.txtWeb{
		font-size: 17px;
	}
	.navbar-toggler{
		border: none!important;
		outline: none!important;
	}
	.dropdown-menu{
		background: transparent!important;
		border: none!important;
	}
	.dropdown-item{
		background: transparent!important;
		color: white;
	}
	.dropdown-item:hover{
		font-weight: bold;
		color: white;
	}
	.bg-primary{
		background-color: #343a40!important;
	}
	.santmt3{
		margin-top: 1rem!important;
	}
	.txtBorders{
		font-size:12px;
	}
}
@media (min-width: 576px) and (max-width: 767px){
	nav{
	background-repeat: no-repeat!important;
	}
	.txtWeb{
		font-size: 17px;
	}
	.navbar-toggler{
		border: none!important;
		outline: none!important;
	}
	.dropdown-menu{
		background: transparent!important;
		border: none!important;
	}
	.dropdown-item{
		background: transparent!important;
		color: white;
	}
	.dropdown-item:hover{
		font-weight: bold;
		color: white;
	}
	.bg-primary{
		background-color: #343a40!important;
	}
	.santmt3{
		margin-top: 1rem!important;
	}
	.txtBorders{
		font-size:13px;
	}	
}
@media (min-width: 768px) and (max-width: 991px){
	nav{
	background-repeat: no-repeat!important;
}
	.txtWeb{
		font-size: 20px;
	}
	.navbar-toggler{
		outline: none!important;
		border: none!important;
	}
	.dropdown-menu{
		background: transparent!important;
		border: none!important;
	}
	.dropdown-item{
		background: transparent!important;
		color: white;
	}
	.dropdown-item:hover{
		font-weight: bold;
		color: white;
	}
	.bg-primary{
		background-color: #343a40!important;
	}
	.santmt3{
		margin-top: 1rem!important;
	}
	.txtBorders{
		font-size:13px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.txtWeb{
		font-size:20px;
	}
	.dropdown-menu{
		background-color: #7B7B7B!important;
		opacity: 0.8!important;
		color: white!important;
	}
	.dropdown-menu:hover{
		opacity: 0.9!important;
		background-color: #7B7B7B!important;
		
	}
	.dropdown-item{
		opacity: 0.8!important;
		color: white!important;
	}
	.dropdown-item:hover{
		opacity: 0.9!important;
		background-color: #7B7B7B!important;
		font-weight: 500;
	}
	.cartellEspai{
		margin-top:20px;
	}
}
@media (min-width: 1200px){
	.txtWeb{
		font-size:40px ;
	}
	.dropdown-menu{
		background-color: #7B7B7B!important;
		opacity: 0.8!important;
		color: white!important;
	}
	.dropdown-menu:hover{
		opacity: 0.9!important;
		background-color: #7B7B7B!important;
		
	}
	.dropdown-item{
		opacity: 0.8!important;
		color: white!important;
	}
	.dropdown-item:hover{
		opacity: 0.9!important;
		background-color: #7B7B7B!important;
		font-weight: 500;
	}	
	.cartellEspai{
		margin-top:20px;
	}
}