@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


p{
	font-family: 'Open Sans', sans-serif;
}

nav{
	background-image: url("../img/green-dragon-skin.jpg")!important;
}
.carousel-indicators > li {
 	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #404040;
}

#textMeeting
{
	font-size: 30px;
}
#textMockingboot
{
	font-size: 30px;
}


.imgSize{
  padding: 10px;
  position: relative;
  width: 100%;
  float: left;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.txtTitles {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
}

.firstcharacter {
  float: left;
  font-family: Georgia;
  font-size: 80px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.txtBorders{
	padding-right: 20px;
	padding-left: 20px;
}

.txtBorders2{
	padding-left: 10px;
	padding-right: 10px;
}

.row1{
	padding-top: 10px;
}


.separation{
	padding:10px;
}


@media (max-width: 575px){
#textHangout
{
	font-size: 28px;
}

@media (max-width: 575px){
	#pictureMocking
	{
		background-color: red;
	}
}
@media (min-width: 576px) and (max-width: 767px){
	#pictureMocking
	{
		background-color: blue;
	}
}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 1200px){
	
}