@import url('https://fonts.googleapis.com/css?family=Bangers');


nav{
	background-image: url("../img/green-dragon-skin.jpg")!important;
}
.carousel-indicators > li {
 	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #404040;
}

#titleText
{
	font-family: 'Bangers', cursive;
	font-size: 30px;
	font-weight: bold;
}
#textMeeting
{
	font-size: 30px;
}
#textMockingboot
{
	font-size: 30px;
}
#textHangout
{
	font-size: 25px;
}

@media (max-width: 575px){
	#pictureMocking
	{
		background-color: red;
	}
}
@media (min-width: 576px) and (max-width: 767px){
	#pictureMocking
	{
		background-color: blue;
	}
}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 1200px){
	
}